Repository BitcoinDesign/Guide, pull requests merged in 2021-12, with the labels that each got.

#559 Added ⚡️ content to `Private Key Management` > `Backups`
  guide/private-key-management/cloud-backup.md
  guide/private-key-management/manual-backup.md
  guide/private-key-management/overview.md
Labels: copy, Private key management

#594 Adding video preview to the home page
  _compress_images_cache.yml
  _includes/custom-head.html
  assets/images/bitcoin-design-preview.mp4
  index.md
Labels: dev, design

#589 Added ⚡️ content to `Payments` > `Sending bitcoin`
  _compress_images_cache.yml
  assets/images/guide/payments/send/confirm-fees.png
  assets/images/guide/payments/send/confirm-fees@2x.png
  assets/images/guide/payments/send/confirm.png
  assets/images/guide/payments/send/confirm@2x.png
  assets/images/guide/payments/send/donation-page-copy.png
  assets/images/guide/payments/send/donation-page-copy@2x.png
  assets/images/guide/payments/send/donation-page-link.png
  assets/images/guide/payments/send/donation-page-link@2x.png
  assets/images/guide/payments/send/donation-qr-code-1.png
  assets/images/guide/payments/send/donation-qr-code.png
  assets/images/guide/payments/send/donation-qr-code@2x.png
  assets/images/guide/payments/send/error-incompatibility.png
  assets/images/guide/payments/send/error-incompatibility@2x.png
  assets/images/guide/payments/send/error-invoice-expired.png
  assets/images/guide/payments/send/error-invoice-expired@2x.png
  assets/images/guide/payments/send/fee-options.png
  assets/images/guide/payments/send/fee-options@2x.png
  assets/images/guide/payments/send/generic-error-details.png
  assets/images/guide/payments/send/generic-error-details@2x.png
  assets/images/guide/payments/send/generic-error.png
  assets/images/guide/payments/send/generic-error@2x.png
  assets/images/guide/payments/send/home.png
  assets/images/guide/payments/send/home@2x.png
  assets/images/guide/payments/send/lightning-address-options.png
  assets/images/guide/payments/send/lightning-address-options@2x.png
  assets/images/guide/payments/send/pay-invoice-with-details.png
  assets/images/guide/payments/send/pay-invoice-with-details@2x.png
  assets/images/guide/payments/send/pay-invoice-without-amount.png
  assets/images/guide/payments/send/pay-invoice-without-amount@2x.png
  assets/images/guide/payments/send/pick-contact.png
  assets/images/guide/payments/send/pick-contact@2x.png
  assets/images/guide/payments/send/processing-longer-wait.png
  assets/images/guide/payments/send/processing-longer-wait@2x.png
  assets/images/guide/payments/send/processing-on-chain.png
  assets/images/guide/payments/send/processing-on-chain@2x.png
  assets/images/guide/payments/send/processing-transactions.png
  assets/images/guide/payments/send/processing-transactions@2x.png
  assets/images/guide/payments/send/processing.png
  assets/images/guide/payments/send/processing@2x.png
  assets/images/guide/payments/send/review-with-label-and-tags.png
  assets/images/guide/payments/send/review-with-label-and-tags@2x.png
  assets/images/guide/payments/send/review.png
  assets/images/guide/payments/send/review@2x.png
  assets/images/guide/payments/send/routing-error.png
  assets/images/guide/payments/send/routing-error@2x.png
  assets/images/guide/payments/send/success.png
  assets/images/guide/payments/send/success@2x.png
  assets/images/guide/payments/send/withdraw-invoice.png
  assets/images/guide/payments/send/withdraw-invoice@2x.png
  guide/payments/coin-selection.md
  guide/payments/payment-request-formats.md
  guide/payments/send.md
Labels: payments, copy, design

#593 Added ⚡️ content to `Payments` > `Transactions`
  _sass/minima/_base.scss
  assets/images/guide/payments/transactions/payment-lifecycle-mobile.svg
  assets/images/guide/payments/transactions/payment-lifecycle.svg
  guide/glossary/index.md
  guide/payments/transactions.md
Labels: payments, copy, design
