Repository BitcoinDesign/Guide, pull requests merged in 2021-11, with the labels that each got.

#537 Added ⚡️ content to `Onboarding` > `Protecting a wallet`
  _compress_images_cache.yml
  assets/images/guide/onboarding/protecting-a-wallet/checklist-option-details.png
  assets/images/guide/onboarding/protecting-a-wallet/checklist-option-details@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/choose-fake-wallet-pin.png
  assets/images/guide/onboarding/protecting-a-wallet/choose-fake-wallet-pin@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/choose-pin.png
  assets/images/guide/onboarding/protecting-a-wallet/choose-pin@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/delete-recovery-phrase.png
  assets/images/guide/onboarding/protecting-a-wallet/delete-recovery-phrase@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/enter-pin.png
  assets/images/guide/onboarding/protecting-a-wallet/enter-pin@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/hidden-balance-pin-reveal.png
  assets/images/guide/onboarding/protecting-a-wallet/hidden-balance-pin-reveal@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/hidden-balance-reveal-timer.png
  assets/images/guide/onboarding/protecting-a-wallet/hidden-balance-reveal-timer@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/hide-by-default.gif
  assets/images/guide/onboarding/protecting-a-wallet/hide-by-eye-icon-2.gif
  assets/images/guide/onboarding/protecting-a-wallet/hide-by-eye-icon.gif
  assets/images/guide/onboarding/protecting-a-wallet/hide-in-settings.gif
  assets/images/guide/onboarding/protecting-a-wallet/hide-info-hidden-by-default.png
  assets/images/guide/onboarding/protecting-a-wallet/hide-info-reveal-by-pin.png
  assets/images/guide/onboarding/protecting-a-wallet/hide-sensitive-information-header.png
  assets/images/guide/onboarding/protecting-a-wallet/home-security-reminder.png
  assets/images/guide/onboarding/protecting-a-wallet/home-security-reminder@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/inadequate-security.png
  assets/images/guide/onboarding/protecting-a-wallet/inadequate-security@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/privacy-and-security-settings.png
  assets/images/guide/onboarding/protecting-a-wallet/privacy-and-security-settings@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/privacy-checklist.png
  assets/images/guide/onboarding/protecting-a-wallet/privacy-checklist@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/quick-hide-access.png
  assets/images/guide/onboarding/protecting-a-wallet/quick-hide-access@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/reveal-by-pin-2.gif
  assets/images/guide/onboarding/protecting-a-wallet/reveal-by-pin.gif
  assets/images/guide/onboarding/protecting-a-wallet/security-checklist.png
  assets/images/guide/onboarding/protecting-a-wallet/security-checklist@2x.png
  assets/images/guide/onboarding/protecting-a-wallet/wallet-limit-reached.png
  assets/images/guide/onboarding/protecting-a-wallet/wallet-limit-reached@2x.png
  guide/onboarding/protecting-a-wallet.md
Labels: copy, design, Onboarding

#549 Adding note about highlighting primary user actions on First use page
  guide/onboarding/first-use.md
Labels: copy

#556 Updates the site logo to the seal
  _compress_images_cache.yml
  _includes/banner-bitcoin-logo.svg
  _includes/bitcoin-design-community-large.svg
  _includes/bitcoin-design-community-medium.svg
  _includes/bitcoin-design-community-small.svg
  _includes/footer.html
  _includes/header.html
  _includes/home-banner.html
  _sass/minima/_site-footer.scss
  _sass/minima/_site-header.scss
  assets/android-chrome-192x192.png
  assets/android-chrome-512x512.png
  assets/apple-touch-icon.png
  assets/banner-bitcoin-logo.svg
  assets/bitcoin-design-community-banner.svg
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  assets/images/bitcoin-design-preview.jpg
  assets/images/guide/designing-products/design-resources/bitcoin-design-community-seal.jpg
  assets/images/guide/designing-products/design-resources/bitcoin-design-community-seal@2x.jpg
  assets/images/guide/designing-products/design-resources/bitcoin-design-community.zip
  guide/designing-products/design-resources.md
  js/themes.js
  submit-header-design.md
Labels: design

#563 Add ⚡️to Private Key Management - Overview
  assets/images/guide/private-key-management/schemes/flow-chart-mobile.png
  assets/images/guide/private-key-management/schemes/flow-chart-mobile@2x.png
  assets/images/guide/private-key-management/schemes/flow-chart.png
  assets/images/guide/private-key-management/schemes/flow-chart@2x.png
  assets/images/guide/private-key-management/schemes/spectrum-mobile.png
  assets/images/guide/private-key-management/schemes/spectrum-mobile@2x.png
  assets/images/guide/private-key-management/schemes/spectrum.png
  assets/images/guide/private-key-management/schemes/spectrum@2x.png
  guide/private-key-management/overview.md
Labels: copy, Private key management

#565 Add ⚡️to Private Key Management - Bitcoin backups
  guide/private-key-management/backups.md
Labels: copy, Private key management

#562 Added Taproot to details to `Glossary` > `Address`
  _compress_images_cache.yml
  assets/images/guide/glossary/address/address-mobile.jpg
  assets/images/guide/glossary/address/address-mobile@2x.jpg
  assets/images/guide/glossary/address/address-preview.jpg
  assets/images/guide/glossary/address/address.jpg
  assets/images/guide/glossary/address/address@2x.jpg
  guide/designing-products/wallet-interoperability.md
  guide/glossary/address.md
Labels: copy

#564 Add ⚡️to Private Key Management - Multi-key
  guide/private-key-management/multi-key.md
Labels: copy, Private key management

#555 Added ⚡️ content to `Private Key Management` > `External Signing Devices`
  _compress_images_cache.yml
  assets/images/guide/private-key-management/external-signers/external-signing-device-mobile.png
  assets/images/guide/private-key-management/external-signers/external-signing-device-mobile@2x.png
  assets/images/guide/private-key-management/external-signers/external-signing-device-preview.png
  assets/images/guide/private-key-management/external-signers/external-signing-device.png
  assets/images/guide/private-key-management/external-signers/external-signing-device@2x.png
  guide/case-studies/savings-account.md
  guide/case-studies/upgradeable-wallet.md
  guide/private-key-management/external-signer.md
  guide/private-key-management/external-signing-device.md
  guide/private-key-management/introduction.md
  guide/private-key-management/manual-backup.md
  guide/private-key-management/multi-key.md
  guide/private-key-management/overview.md
Labels: copy, design, Private key management

#566 Update index.md
  _compress_images_cache.yml
  guide/getting-started/technology-primer.md
  guide/glossary/index.md
Labels: copy

#577 Added ⚡️ content to the `Payments` section landing page
  guide/payments/introduction.md
Labels: copy

#579 Add Non-recommended schemes to PKM overview
  guide/private-key-management/overview.md
Labels: copy
