Repository BitcoinDesign/Guide, pull requests merged in 2022-11, with the labels that each got.

#935 Remove Designathon banner from home page
  _compress_images_cache.yml
  _sass/minima/_projects-page.scss
  assets/images/contribute/designathon.png
  index.md
  projects.md
Labels: Copy

#941 Minor screen revision for `Daily spending wallet` > `Activity`
  assets/images/guide/daily-spending-wallet/activity/invoice-big.png
  assets/images/guide/daily-spending-wallet/activity/invoice.png
  assets/images/guide/daily-spending-wallet/activity/invoice@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-big.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-expanded-big.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-expanded.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-expanded@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-id-details-big.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-id-details.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-id-details@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction@2x.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-big.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-expanded-big.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-expanded.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-expanded@2x.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction@2x.png
  guide/daily-spending-wallet/activity.md
Labels: Design, Daily spending wallet

#937 Blixt case study
  _compress_images_cache.yml
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-2-mobile.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-2-mobile@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-2.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-2@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-mobile.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test-mobile@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test.png
  assets/images/guide/case-studies/blixt-wallet/blixt-usability-test@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-users-mobile.png
  assets/images/guide/case-studies/blixt-wallet/blixt-users.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-users@2x.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-ux-process-mobile.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-ux-process.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-ux-process@2x.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-header-mobile.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-header-mobile@2x.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-header.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-header@2x.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-preview.jpg
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-usability-testing-data-overview-mobile.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-usability-testing-data-overview-mobile@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-usability-testing-data-overview.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-usability-testing-data-overview@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-user-flow-mobile.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-user-flow-mobile@2x.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-user-flow.png
  assets/images/guide/case-studies/blixt-wallet/blixt-wallet-user-flow@2x.png
  guide/case-studies/blixt-wallet.md
  guide/case-studies/introduction.md
  guide/contribute/contribute.md
  guide/glossary/index.md
  guide/how-it-works/sign-in-with-bitcoin.md
  guide/resources/introduction.md
Labels: Copy, Design, Case study

#940 Minor screen revision for `Daily spending wallet` > `Settings`
  assets/images/guide/daily-spending-wallet/settings/advanced-big.png
  assets/images/guide/daily-spending-wallet/settings/advanced.png
  assets/images/guide/daily-spending-wallet/settings/advanced@2x.png
  assets/images/guide/daily-spending-wallet/settings/bitcoin-unit-big.png
  assets/images/guide/daily-spending-wallet/settings/bitcoin-unit.png
  assets/images/guide/daily-spending-wallet/settings/bitcoin-unit@2x.png
  assets/images/guide/daily-spending-wallet/settings/general-big.png
  assets/images/guide/daily-spending-wallet/settings/general.png
  assets/images/guide/daily-spending-wallet/settings/general@2x.png
  assets/images/guide/daily-spending-wallet/settings/local-currency-big.png
  assets/images/guide/daily-spending-wallet/settings/local-currency.png
  assets/images/guide/daily-spending-wallet/settings/local-currency@2x.png
  assets/images/guide/daily-spending-wallet/settings/security-big.png
  assets/images/guide/daily-spending-wallet/settings/security.png
  assets/images/guide/daily-spending-wallet/settings/security@2x.png
  guide/daily-spending-wallet/settings.md
Labels: Design, Daily spending wallet

#942 Minor screen revision for `Daily spending wallet` > `Privacy`
  assets/images/guide/daily-spending-wallet/privacy/advanced-settings-big.png
  assets/images/guide/daily-spending-wallet/privacy/advanced-settings.png
  assets/images/guide/daily-spending-wallet/privacy/advanced-settings@2x.png
  assets/images/guide/daily-spending-wallet/privacy/bitcoin-network-big.png
  assets/images/guide/daily-spending-wallet/privacy/bitcoin-network.png
  assets/images/guide/daily-spending-wallet/privacy/bitcoin-network@2x.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-pin-reveal-big.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-pin-reveal.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-pin-reveal@2x.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-and-security-settings-big.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-and-security-settings.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-and-security-settings@2x.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-settings-big.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-settings.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-settings@2x.png
  assets/images/guide/daily-spending-wallet/privacy/quick-hide-access-big.png
  assets/images/guide/daily-spending-wallet/privacy/quick-hide-access.png
  assets/images/guide/daily-spending-wallet/privacy/quick-hide-access@2x.png
  guide/daily-spending-wallet/privacy.md
Labels: Design, Daily spending wallet

#939 Minor screen revision for `Daily spending wallet` > `First use`
  assets/images/guide/daily-spending-wallet/first-use/funding-options-full.png
  assets/images/guide/daily-spending-wallet/first-use/funding-options.png
  assets/images/guide/daily-spending-wallet/first-use/funding-options@2x.png
  assets/images/guide/daily-spending-wallet/first-use/home-receiving-full.png
  assets/images/guide/daily-spending-wallet/first-use/home-receiving.png
  assets/images/guide/daily-spending-wallet/first-use/home-receiving@2x.png
  assets/images/guide/daily-spending-wallet/first-use/home-security-reminder-full.png
  assets/images/guide/daily-spending-wallet/first-use/home-security-reminder.png
  assets/images/guide/daily-spending-wallet/first-use/home-security-reminder@2x.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive-fees-full.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive-fees.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive-fees@2x.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive-full.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive.png
  assets/images/guide/daily-spending-wallet/first-use/initial-receive@2x.png
  assets/images/guide/daily-spending-wallet/first-use/responsibility-disclaimer-full.png
  assets/images/guide/daily-spending-wallet/first-use/responsibility-disclaimer.png
  assets/images/guide/daily-spending-wallet/first-use/responsibility-disclaimer@2x.png
  guide/daily-spending-wallet/first-use.md
Labels: Design, Daily spending wallet

#943 Minor screen revision for `Daily spending wallet` > `Security`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/security/choose-fake-wallet-pin-big.png
  assets/images/guide/daily-spending-wallet/security/choose-fake-wallet-pin.png
  assets/images/guide/daily-spending-wallet/security/choose-fake-wallet-pin@2x.png
  assets/images/guide/daily-spending-wallet/security/choose-pin-big.png
  assets/images/guide/daily-spending-wallet/security/choose-pin.png
  assets/images/guide/daily-spending-wallet/security/choose-pin@2x.png
  assets/images/guide/daily-spending-wallet/security/delete-recovery-phrase-big.png
  assets/images/guide/daily-spending-wallet/security/delete-recovery-phrase.png
  assets/images/guide/daily-spending-wallet/security/delete-recovery-phrase@2x.png
  assets/images/guide/daily-spending-wallet/security/enter-pin-big.png
  assets/images/guide/daily-spending-wallet/security/enter-pin-scrambled-big.png
  assets/images/guide/daily-spending-wallet/security/enter-pin-scrambled.png
  assets/images/guide/daily-spending-wallet/security/enter-pin-scrambled@2x.png
  assets/images/guide/daily-spending-wallet/security/enter-pin.png
  assets/images/guide/daily-spending-wallet/security/enter-pin@2x.png
  assets/images/guide/daily-spending-wallet/security/home-security-reminder-big.png
  assets/images/guide/daily-spending-wallet/security/home-security-reminder.png
  assets/images/guide/daily-spending-wallet/security/home-security-reminder@2x.png
  assets/images/guide/daily-spending-wallet/security/lightning-network-settings-big.png
  assets/images/guide/daily-spending-wallet/security/lightning-network-settings.png
  assets/images/guide/daily-spending-wallet/security/lightning-network-settings@2x.png
  assets/images/guide/daily-spending-wallet/security/privacy-and-security-settings-big.png
  assets/images/guide/daily-spending-wallet/security/privacy-and-security-settings.png
  assets/images/guide/daily-spending-wallet/security/privacy-and-security-settings@2x.png
  assets/images/guide/daily-spending-wallet/security/privacy-checklist-big.png
  assets/images/guide/daily-spending-wallet/security/privacy-checklist.png
  assets/images/guide/daily-spending-wallet/security/privacy-checklist@2x.png
  assets/images/guide/daily-spending-wallet/security/security-reminder-modal-big.png
  assets/images/guide/daily-spending-wallet/security/security-reminder-modal.png
  assets/images/guide/daily-spending-wallet/security/security-reminder-modal@2x.png
  assets/images/guide/daily-spending-wallet/security/wallet-limit-reached-big.png
  assets/images/guide/daily-spending-wallet/security/wallet-limit-reached.png
  assets/images/guide/daily-spending-wallet/security/wallet-limit-reached@2x.png
  guide/daily-spending-wallet/security.md
Labels: Design, Daily spending wallet

#944 Minor screen revision for `Daily spending wallet` > `Contacts`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/contacts/activity-annotated-big.png
  assets/images/guide/daily-spending-wallet/contacts/activity-big.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-annotated-big.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-annotated.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-annotated@2x.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-big.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction@2x.png
  assets/images/guide/daily-spending-wallet/contacts/lightning-address-input-add-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/lightning-address-input-big.png
  assets/images/guide/daily-spending-wallet/contacts/lightning-address-input-new-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-details-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-not-supported-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-valid-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-valid-on-chain-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-xpub-error-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-add-address-xpub-toggle-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-no-addresses-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-with-address-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-with-on-chain-address-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-empty-big.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-first-contact-name-big.png
  assets/images/guide/daily-spending-wallet/contacts/multi-address-contact-address-detail-big.png
  assets/images/guide/daily-spending-wallet/contacts/multi-address-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/multi-address-contact-edit-labels-big.png
  assets/images/guide/daily-spending-wallet/contacts/multi-address-contact-options-big.png
  assets/images/guide/daily-spending-wallet/contacts/owner-entry-big.png
  assets/images/guide/daily-spending-wallet/contacts/owner-list-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-contact-with-tx-and-address-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-contact-with-tx-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-contact.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-contact@2x.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-details-big.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-details.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice-with-details@2x.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice.png
  assets/images/guide/daily-spending-wallet/contacts/pay-invoice@2x.png
  assets/images/guide/daily-spending-wallet/contacts/receive-home-big.png
  assets/images/guide/daily-spending-wallet/contacts/receive-home.png
  assets/images/guide/daily-spending-wallet/contacts/receive-home@2x.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr-big.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr-with-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/sending-home-big.png
  assets/images/guide/daily-spending-wallet/contacts/sending-home.png
  assets/images/guide/daily-spending-wallet/contacts/sending-home@2x.png
  assets/images/guide/daily-spending-wallet/contacts/sending-pick-contact-big.png
  assets/images/guide/daily-spending-wallet/contacts/sending-review-big.png
  assets/images/guide/daily-spending-wallet/contacts/sending-review.png
  assets/images/guide/daily-spending-wallet/contacts/sending-review@2x.png
  guide/daily-spending-wallet/contacts.md
Labels: Design, Daily spending wallet
