Repository BitcoinDesign/Guide, pull requests merged in 2022-10, with the labels that each got.

#929 Adds research on transaction list by Alby
  guide/daily-spending-wallet/activity.md
  guide/resources/design-research.md
Labels: Copy, Daily spending wallet, Resources

#928 Add link to GitHub Skills on Propose a change
  guide/contribute/propose-a-change.md
Labels: Copy, Contribute

#930 Change "lightning network" to lowercase
  README.md
  calendar.md
  guide.md
  guide/daily-spending-wallet/activity.md
  guide/daily-spending-wallet/contacts.md
  guide/daily-spending-wallet/security.md
  guide/daily-spending-wallet/sending.md
  guide/designing-products/common-user-flows.md
  guide/designing-products/interoperability.md
  guide/designing-products/personal-finance.md
  guide/designing-products/units-and-symbols.md
  guide/designing-products/user-research.md
  guide/getting-started/hardware.md
  guide/getting-started/open-design.md
  guide/getting-started/principles.md
  guide/getting-started/software.md
  guide/getting-started/technology-primer.md
  guide/getting-started/visual-language.md
  guide/getting-started/why-bitcoin-is-unique.md
  guide/glossary/index.md
  guide/how-it-works/coin-selection.md
  guide/how-it-works/introduction.md
  guide/how-it-works/lightning-services.md
  guide/how-it-works/private-key-management/cloud-backup.md
  guide/how-it-works/private-key-management/external-signers.md
  guide/how-it-works/private-key-management/multi-key.md
  guide/how-it-works/private-key-management/overview.md
  guide/how-it-works/transactions.md
  guide/resources/design-challenges.md
  guide/resources/design-research.md
  guide/shared-wallet.md
  projects.md
Labels: Copy
