Repository BitcoinDesign/Guide, pull requests merged in 2022-06, with the labels that each got.

#841 Update design-research.md
  guide/resources/design-research.md
Labels: Copy, Resources

#821 Adds a page about accessibility to the designing bitcoin products section
  _compress_images_cache.yml
  _includes/image-gallery.html
  assets/images/guide/designing-products/accessibility/accessibility-mobile.jpg
  assets/images/guide/designing-products/accessibility/accessibility-mobile@2x.jpg
  assets/images/guide/designing-products/accessibility/accessibility-preview.jpg
  assets/images/guide/designing-products/accessibility/accessibility.jpg
  assets/images/guide/designing-products/accessibility/accessibility@2x.jpg
  assets/images/guide/designing-products/accessibility/annotations-bad-big.png
  assets/images/guide/designing-products/accessibility/annotations-bad-isolated-big.png
  assets/images/guide/designing-products/accessibility/annotations-bad-isolated.png
  assets/images/guide/designing-products/accessibility/annotations-bad-isolated@2x.png
  assets/images/guide/designing-products/accessibility/annotations-bad.png
  assets/images/guide/designing-products/accessibility/annotations-bad@2x.png
  assets/images/guide/designing-products/accessibility/annotations-good-big.png
  assets/images/guide/designing-products/accessibility/annotations-good-isolated-big.png
  assets/images/guide/designing-products/accessibility/annotations-good-isolated.png
  assets/images/guide/designing-products/accessibility/annotations-good-isolated@2x.png
  assets/images/guide/designing-products/accessibility/annotations-good.png
  assets/images/guide/designing-products/accessibility/annotations-good@2x.png
  assets/images/guide/designing-products/accessibility/color-vision-defficiencies.png
  assets/images/guide/designing-products/accessibility/color-vision-defficiencies@2x.png
  assets/images/guide/designing-products/accessibility/dynamic-type.png
  assets/images/guide/designing-products/accessibility/dynamic-type@2x.png
  assets/images/guide/designing-products/accessibility/multi-sensory-feedback.png
  assets/images/guide/designing-products/accessibility/multi-sensory-feedback@2x.png
  assets/images/guide/designing-products/accessibility/ordering-bad-big.png
  assets/images/guide/designing-products/accessibility/ordering-bad.png
  assets/images/guide/designing-products/accessibility/ordering-bad@2x.png
  assets/images/guide/designing-products/accessibility/ordering-good-big.png
  assets/images/guide/designing-products/accessibility/ordering-good.png
  assets/images/guide/designing-products/accessibility/ordering-good@2x.png
  guide/daily-spending-wallet/landing-page.md
  guide/designing-products/accessibility.md
  guide/designing-products/interoperability.md
Labels: Copy, Design bitcoin products

#836 People might want to use RBF or CPFP in this specific situation
  guide/daily-spending-wallet/sending.md
Labels: Copy

#843 Add sitemap Jekyll plugin
  Gemfile
  Gemfile.lock
  _config.yml
Labels: Dev

#851 Update homepage title
  index.md
Labels: Copy

#855 Adding a newly found report
  guide/resources/design-research.md
Labels: Documentation, Resources

#845 Adding the second edition of The State of Lightning by Arcane Research
  guide/resources/design-research.md
Labels: Copy, Resources
