Repository BitcoinDesign/Guide, pull requests merged in 2022-05, with the labels that each got.

#797 Adds a "Design challenges" page to "Resources"
  _compress_images_cache.yml
  assets/images/guide/resources/design-challenges/design-challenges-mobile.png
  assets/images/guide/resources/design-challenges/design-challenges-mobile@2x.png
  assets/images/guide/resources/design-challenges/design-challenges-preview.jpg
  assets/images/guide/resources/design-challenges/design-challenges.png
  assets/images/guide/resources/design-challenges/design-challenges@2x.png
  guide/resources/design-challenges.md
  guide/resources/design-research.md
  guide/resources/introduction.md
Labels: Copy, Design, Resources

#801 Move "Hiding sensitive info" content
  guide/daily-spending-wallet/privacy.md
  guide/daily-spending-wallet/security.md
Labels: Copy, Daily spending wallet

#798 Adds info about watchtowers to the security page and glossary
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/security/lightning-network-settings.png
  assets/images/guide/daily-spending-wallet/security/lightning-network-settings@2x.png
  assets/images/guide/daily-spending-wallet/security/watchtower-details-custom.png
  assets/images/guide/daily-spending-wallet/security/watchtower-details-custom@2x.png
  assets/images/guide/daily-spending-wallet/security/watchtower-details.png
  assets/images/guide/daily-spending-wallet/security/watchtower-details@2x.png
  guide/daily-spending-wallet/security.md
  guide/glossary/index.md
Labels: Copy, Design, Daily spending wallet

#802 Made the local serving instructions a little more clear
  README.md
Labels: Documentation

#803 Moved images from security to privacy folder
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-pin-reveal.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-pin-reveal@2x.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-reveal-timer.png
  assets/images/guide/daily-spending-wallet/privacy/hidden-balance-reveal-timer@2x.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-and-security-settings.png
  assets/images/guide/daily-spending-wallet/privacy/privacy-and-security-settings@2x.png
  assets/images/guide/daily-spending-wallet/privacy/quick-hide-access.png
  assets/images/guide/daily-spending-wallet/privacy/quick-hide-access@2x.png
  guide/daily-spending-wallet/privacy.md
Labels: Dev

#807 Minor revision of the activity page
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/activity/annotated-activity.png
  assets/images/guide/daily-spending-wallet/activity/annotated-activity@2x.png
  assets/images/guide/daily-spending-wallet/activity/budgeting.png
  assets/images/guide/daily-spending-wallet/activity/budgeting@2x.png
  assets/images/guide/daily-spending-wallet/activity/expanded-micropayments.png
  assets/images/guide/daily-spending-wallet/activity/expanded-micropayments@2x.png
  assets/images/guide/daily-spending-wallet/activity/grouped-micropayments.png
  assets/images/guide/daily-spending-wallet/activity/grouped-micropayments@2x.png
  assets/images/guide/daily-spending-wallet/activity/micropayments.png
  assets/images/guide/daily-spending-wallet/activity/micropayments@2x.png
  assets/images/guide/daily-spending-wallet/activity/non-payment-activity.png
  assets/images/guide/daily-spending-wallet/activity/non-payment-activity@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-expanded.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-expanded@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-id-details.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction-id-details@2x.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction.png
  assets/images/guide/daily-spending-wallet/activity/receive-transaction@2x.png
  assets/images/guide/daily-spending-wallet/activity/search.png
  assets/images/guide/daily-spending-wallet/activity/search@2x.png
  assets/images/guide/daily-spending-wallet/activity/semi-annotated-activity.png
  assets/images/guide/daily-spending-wallet/activity/semi-annotated-activity@2x.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-expanded.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction-expanded@2x.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction.png
  assets/images/guide/daily-spending-wallet/activity/send-transaction@2x.png
  assets/images/guide/daily-spending-wallet/activity/sending.png
  assets/images/guide/daily-spending-wallet/activity/sending@2x.png
  guide/daily-spending-wallet/activity.md
Labels: Copy, Design, Daily spending wallet

#810 Add notes about community association
  guide/resources/design-files.md
  projects.md
Labels: Copy

#813 Removed runts from image galleries
  _includes/image-gallery.html
  _plugins/no_runts.rb
Labels: Dev

#815 Here's the corrected screen images, as asked on #814
  assets/images/guide/daily-spending-wallet/sending/confirm-fees.png
  assets/images/guide/daily-spending-wallet/sending/confirm-fees@2x.png
Labels: Design, Daily spending wallet

#812 Minor revision of the contacts page
  assets/images/guide/daily-spending-wallet/contacts/activity-annotated.png
  assets/images/guide/daily-spending-wallet/contacts/activity-annotated@2x.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-annotated.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction-annotated@2x.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction.png
  assets/images/guide/daily-spending-wallet/contacts/activity-transaction@2x.png
  assets/images/guide/daily-spending-wallet/contacts/activity.png
  assets/images/guide/daily-spending-wallet/contacts/activity@2x.png
  assets/images/guide/daily-spending-wallet/contacts/lightning-address-input.png
  assets/images/guide/daily-spending-wallet/contacts/lightning-address-input@2x.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-no-addresses.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-contact-no-addresses@2x.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-first-contact-name.png
  assets/images/guide/daily-spending-wallet/contacts/manual-add-first-contact-name@2x.png
  assets/images/guide/daily-spending-wallet/contacts/receive-home.png
  assets/images/guide/daily-spending-wallet/contacts/receive-home@2x.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr-with-contact.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr-with-contact@2x.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr.png
  assets/images/guide/daily-spending-wallet/contacts/receive-qr@2x.png
  assets/images/guide/daily-spending-wallet/contacts/sending-home.png
  assets/images/guide/daily-spending-wallet/contacts/sending-home@2x.png
  assets/images/guide/daily-spending-wallet/contacts/sending-pick-contact.png
  assets/images/guide/daily-spending-wallet/contacts/sending-pick-contact@2x.png
  guide/daily-spending-wallet/contacts.md
Labels: Copy, Design, Daily spending wallet

#817 Update sending.md
  guide/daily-spending-wallet/sending.md
Labels: Copy, Daily spending wallet

#825 Send screen highlighting high fees to the user
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/sending/confirm-high-fees.png
  assets/images/guide/daily-spending-wallet/sending/confirm-high-fees@2x.png
  guide/daily-spending-wallet/sending.md
Labels: Copy, Daily spending wallet

#824 Minor cropping adjustment to the requesting page header image
  assets/images/guide/daily-spending-wallet/requesting/request-banner(1600x600).png
  assets/images/guide/daily-spending-wallet/requesting/request-banner(3200x1200).png
  assets/images/guide/daily-spending-wallet/requesting/request-banner(400x200).png
  assets/images/guide/daily-spending-wallet/requesting/request-banner(800x400).png
  assets/images/guide/daily-spending-wallet/requesting/request-banner-preview(1200x630).png
Labels: Design

#823 Adds link to "Bitcoin for Local Business Trifold" to the design files page
  _compress_images_cache.yml
  assets/images/guide/resources/design-files/bitcoin-for-local-business-trifold.png
  assets/images/guide/resources/design-files/bitcoin-for-local-business-trifold@2x.png
  guide/resources/design-files.md
Labels: Copy, Resources

#805 Add animation support via Lottie to the entire site
  _compress_images_cache.yml
  _includes/lottie.html
  _includes/picture.html
  _includes/svgs.html
  _sass/minima/_article.scss
  _sass/minima/_base.scss
  _sass/minima/_home-banner.scss
  _sass/minima/article/_image-slide-gallery.scss
  assets/animations/banner-jessica.json
  assets/animations/contribute/formatting/bitcoin-design-seal-miami-edition.json
  assets/animations/contribute/formatting/bitcoin-design-seal-miami-edition.png
  assets/animations/contribute/formatting/bitcoin-design-seal-miami-edition@2x.png
  assets/animations/contribute/formatting/bitcoin-design-seal.json
  assets/animations/contribute/formatting/bitcoin-design-seal.png
  assets/animations/contribute/formatting/bitcoin-design-seal@2x.png
  assets/images/home/banner/bits-and-pieces-fallback.png
  assets/images/home/banner/bits-and-pieces-fallback@2x.png
  assets/images/home/banner/bits-and-pieces.png
  assets/images/home/banner/bits-and-pieces@2x.png
  guide/contribute/formatting.md
  js/lottie-5-9-1.min.js
  js/scripts.js
  js/themes.js
  submit-header-design.md
Labels: Dev, Copy

#826 Adds Figma file link for a backup template to design files
  _compress_images_cache.yml
  assets/images/guide/resources/design-files/bitcoin-wallet-backup-print-template.jpg
  assets/images/guide/resources/design-files/bitcoin-wallet-backup-print-template@2x.jpg
  guide/resources/design-files.md
Labels: Copy, Design, Resources

#829 CSS fixes for homepage banner
  _sass/minima/_home-banner.scss
  js/themes.js
Labels: Dev

#830 Minor address page tweaks
  guide/glossary/address.md
Labels: Copy, Glossary

#770 Added Skip to content button + other a11y fixes
  _includes/header.html
  _includes/secondary-nav.html
  _includes/svgs.html
  _layouts/default.html
  _sass/minima/_base.scss
  _sass/minima/_nav-list.scss
  _sass/minima/_site-header.scss
  js/scripts.js
Labels: Dev
