Repository BitcoinDesign/Guide, pull requests merged in 2022-09, with the labels that each got.

#903 Fixed metadata image on requesting page
  guide/daily-spending-wallet/requesting.md
Labels: Design, Daily spending wallet

#924 Add designathon promo on the home page
  _compress_images_cache.yml
  assets/images/home/designathon-mobile.png
  assets/images/home/designathon-mobile@2x.png
  assets/images/home/designathon.png
  assets/images/home/designathon@2x.png
  index.md
Labels: Copy, Design

#904 Updated daily spending wallet landing page
  _compress_images_cache.yml
  _sass/minima/_daily-spending-wallet-landing.scss
  _sass/minima/initialize.scss
  assets/images/guide/daily-spending-wallet/bitcoin-mobile.png
  assets/images/guide/daily-spending-wallet/bitcoin-mobile@2x.png
  assets/images/guide/daily-spending-wallet/bitcoin.png
  assets/images/guide/daily-spending-wallet/bitcoin@2x.png
  assets/images/guide/daily-spending-wallet/daily-spending-prototype-mobile.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype-mobile@2x.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype@2x.jpg
  assets/images/guide/daily-spending-wallet/icon-activity.png
  assets/images/guide/daily-spending-wallet/icon-activity@2x.png
  assets/images/guide/daily-spending-wallet/icon-backup-recovery.png
  assets/images/guide/daily-spending-wallet/icon-backup-recovery@2x.png
  assets/images/guide/daily-spending-wallet/icon-contacts.png
  assets/images/guide/daily-spending-wallet/icon-contacts@2x.png
  assets/images/guide/daily-spending-wallet/icon-first-use.png
  assets/images/guide/daily-spending-wallet/icon-first-use@2x.png
  assets/images/guide/daily-spending-wallet/icon-privacy.png
  assets/images/guide/daily-spending-wallet/icon-privacy@2x.png
  assets/images/guide/daily-spending-wallet/icon-requesting.png
  assets/images/guide/daily-spending-wallet/icon-requesting@2x.png
  assets/images/guide/daily-spending-wallet/icon-security.png
  assets/images/guide/daily-spending-wallet/icon-security@2x.png
  assets/images/guide/daily-spending-wallet/icon-sending.png
  assets/images/guide/daily-spending-wallet/icon-sending@2x.png
  assets/images/guide/daily-spending-wallet/icon-settings.png
  assets/images/guide/daily-spending-wallet/icon-settings@2x.png
  assets/images/guide/daily-spending-wallet/lightning-mobile.png
  assets/images/guide/daily-spending-wallet/lightning-mobile@2x.png
  assets/images/guide/daily-spending-wallet/lightning.png
  assets/images/guide/daily-spending-wallet/lightning@2x.png
  assets/images/guide/daily-spending-wallet/mobile-phone-mobile.png
  assets/images/guide/daily-spending-wallet/mobile-phone-mobile@2x.png
  assets/images/guide/daily-spending-wallet/mobile-phone.png
  assets/images/guide/daily-spending-wallet/mobile-phone@2x.png
  assets/images/guide/daily-spending-wallet/private-key-mobile.png
  assets/images/guide/daily-spending-wallet/private-key-mobile@2x.png
  assets/images/guide/daily-spending-wallet/private-key.png
  assets/images/guide/daily-spending-wallet/private-key@2x.png
  guide/daily-spending-wallet/landing-page.md
Labels: Daily spending wallet
