Repository BitcoinDesign/Guide, pull requests merged in 2022-12, with the labels that each got.

#946 Adds test videos to the accessibility page
  _compress_images_cache.yml
  assets/images/guide/designing-products/accessibility/phoenix-accessibility-test.jpg
  assets/images/guide/designing-products/accessibility/phoenix-accessibility-test@2x.jpg
  assets/images/guide/designing-products/accessibility/quick-accessibility-test.jpg
  assets/images/guide/designing-products/accessibility/quick-accessibility-test@2x.jpg
  assets/images/guide/designing-products/accessibility/wallet-of-satoshi-accessibility-test.jpg
  assets/images/guide/designing-products/accessibility/wallet-of-satoshi-accessibility-test@2x.jpg
  guide/designing-products/accessibility.md
Labels: Documentation, Design bitcoin products

#949 Minor screen revision for `Daily spending wallet` > `Recovery`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-cloud-searching-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-cloud-searching.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-cloud-searching@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-finish-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-channel-selection-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-channel-selection.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-channel-selection@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-complete-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-complete.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-complete@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-file-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-file.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-checking-file@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-cloud-select-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-cloud-select.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-cloud-select@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-cloud-ui-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-finish-pending-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-finish-pending.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-finish-pending@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-attempt-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-attempt.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-attempt@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-success-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-success.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-force-close-success@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-missing-channels-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-missing-channels.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-missing-channels@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-pending-notice-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-pending-notice.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-pending-notice@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-recovery-phrase-complete-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-recovery-phrase-error-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-recovery-phrase-progress-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-recovery-phrase-progress.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual-recovery-phrase-progress@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-manual@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-menu-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-menu.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-menu@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restored-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restored.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restored@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restoring-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restoring.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/recovery/restore-restoring@2x.png
  guide/daily-spending-wallet/backup-and-recovery/recovery.md
Labels: Design, Daily spending wallet

#948 Minor screen revision for `Daily spending wallet` > `Manual backup`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-choice-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-choice.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-choice@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-cloud-choice-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-cloud-choice.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-cloud-choice@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-cloud-provider-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-complete-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-next-steps-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-next-steps.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-next-steps@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-notes-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-notes.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-notes@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-download-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-recovery-phrase-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-recovery-phrase-intro-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-complete-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-complete.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-complete@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-intro-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-progress-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-progress.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-progress@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-start-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-start.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-validation-start@2x.png
  guide/daily-spending-wallet/backup-and-recovery/manual-backup.md
Labels: Design, Daily spending wallet

#947 Minor screen revision for `Daily spending wallet` > `Automatic cloud backup`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN-verify-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN-verify.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN-verify@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-PIN@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-confirmation-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-confirmation.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-confirmation@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-error-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-error.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-error@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-intro-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-intro.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-intro@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-prompt-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-prompt.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-prompt@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-provider-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-service-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-service.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/cloud-backup-service@2x.png
  guide/daily-spending-wallet/backup-and-recovery/cloud-backup.md
Labels: Design, Daily spending wallet

#950 Minor screen revision for `Daily spending wallet` > `Requesting`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/requesting/AmountFee-full.png
  assets/images/guide/daily-spending-wallet/requesting/AmountFee.png
  assets/images/guide/daily-spending-wallet/requesting/AmountFee@2x.png
  assets/images/guide/daily-spending-wallet/requesting/AmountNoFee-full.png
  assets/images/guide/daily-spending-wallet/requesting/AmountNoFee.png
  assets/images/guide/daily-spending-wallet/requesting/AmountNoFee@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Fees-full.png
  assets/images/guide/daily-spending-wallet/requesting/Fees.png
  assets/images/guide/daily-spending-wallet/requesting/Fees@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Home-full.png
  assets/images/guide/daily-spending-wallet/requesting/Home@2x.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBTC-full.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBTC.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBTC@2x.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBalance-full.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBalance.png
  assets/images/guide/daily-spending-wallet/requesting/HomeBalance@2x.png
  assets/images/guide/daily-spending-wallet/requesting/HomeEuro-full.png
  assets/images/guide/daily-spending-wallet/requesting/HomeEuro.png
  assets/images/guide/daily-spending-wallet/requesting/HomeEuro@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Invoice-full.png
  assets/images/guide/daily-spending-wallet/requesting/Invoice.png
  assets/images/guide/daily-spending-wallet/requesting/Invoice@2x.png
  assets/images/guide/daily-spending-wallet/requesting/InvoiceExpiration-full.png
  assets/images/guide/daily-spending-wallet/requesting/InvoiceExpiration.png
  assets/images/guide/daily-spending-wallet/requesting/InvoiceExpiration@2x.png
  assets/images/guide/daily-spending-wallet/requesting/NoAmountFee-full.png
  assets/images/guide/daily-spending-wallet/requesting/NoAmountFee.png
  assets/images/guide/daily-spending-wallet/requesting/NoAmountFee@2x.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentAddressQR.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentAddressQR@2x.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentAddresses.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentAddresses@2x.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentLink-full.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentLink.png
  assets/images/guide/daily-spending-wallet/requesting/PaymentLink@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Plaintext-full.png
  assets/images/guide/daily-spending-wallet/requesting/RequestToggle-full.png
  assets/images/guide/daily-spending-wallet/requesting/RequestToggle.png
  assets/images/guide/daily-spending-wallet/requesting/RequestToggle@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Settings-full.png
  assets/images/guide/daily-spending-wallet/requesting/Settings.png
  assets/images/guide/daily-spending-wallet/requesting/Settings@2x.png
  assets/images/guide/daily-spending-wallet/requesting/SetupFee-full.png
  assets/images/guide/daily-spending-wallet/requesting/SetupFee.png
  assets/images/guide/daily-spending-wallet/requesting/SetupFee@2x.png
  assets/images/guide/daily-spending-wallet/requesting/Unified-full.png
  assets/images/guide/daily-spending-wallet/requesting/address-full.png
  assets/images/guide/daily-spending-wallet/requesting/address.png
  assets/images/guide/daily-spending-wallet/requesting/address@2x.png
  assets/images/guide/daily-spending-wallet/requesting/contactless-full.png
  assets/images/guide/daily-spending-wallet/requesting/home.png
  guide/daily-spending-wallet/requesting/requesting.md
Labels: Design, Daily spending wallet

#951 Minor screen revision for `Daily spending wallet` > `Receiving`
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/receiving/ClaimRefund-full.png
  assets/images/guide/daily-spending-wallet/receiving/ClaimRefund.png
  assets/images/guide/daily-spending-wallet/receiving/ClaimRefund@2x.png
  assets/images/guide/daily-spending-wallet/receiving/CloseWalletNotification.png
  assets/images/guide/daily-spending-wallet/receiving/CloseWalletNotification@2x.png
  assets/images/guide/daily-spending-wallet/receiving/ReceiveOfflineNotification-full.png
  assets/images/guide/daily-spending-wallet/receiving/ReceiveOfflineNotification.png
  assets/images/guide/daily-spending-wallet/receiving/ReceiveOfflineNotification@2x.png
  assets/images/guide/daily-spending-wallet/receiving/ReceivedPaymentActivity-full.png
  assets/images/guide/daily-spending-wallet/receiving/ReceivedPaymentActivity.png
  assets/images/guide/daily-spending-wallet/receiving/ReceivedPaymentActivity@2x.png
  assets/images/guide/daily-spending-wallet/receiving/RefundActivity-full.png
  assets/images/guide/daily-spending-wallet/receiving/RefundActivity.png
  assets/images/guide/daily-spending-wallet/receiving/RefundActivity@2x.png
  assets/images/guide/daily-spending-wallet/receiving/RefundOnChain-full.png
  assets/images/guide/daily-spending-wallet/receiving/RefundOnChain.png
  assets/images/guide/daily-spending-wallet/receiving/RefundOnChain@2x.png
  assets/images/guide/daily-spending-wallet/receiving/SwapFail-full.png
  assets/images/guide/daily-spending-wallet/receiving/SwapFail.png
  assets/images/guide/daily-spending-wallet/receiving/SwapFail@2x.png
  assets/images/guide/daily-spending-wallet/receiving/received-full.png
  assets/images/guide/daily-spending-wallet/receiving/received.png
  assets/images/guide/daily-spending-wallet/receiving/received@2x.png
  guide/daily-spending-wallet/requesting/receiving.md
Labels: Design, Daily spending wallet

#954 Small tweaks to the visual language page per request
  assets/images/guide/getting-started/visual-language/bitboy-2011.png
  assets/images/guide/getting-started/visual-language/bitboy-2011@2x.png
  assets/images/guide/getting-started/visual-language/bitcoin-symbol.png
  assets/images/guide/getting-started/visual-language/satoshi-symbols.png
  assets/images/guide/getting-started/visual-language/satoshi-symbols@2x.png
  guide/getting-started/visual-language.md
Labels: Copy, Design, Getting started

#957 List Challenge 6: Private purchase
  guide/resources/design-challenges.md
Labels: Copy, Resources

#958 Update daily spending wallet prototype
  assets/images/guide/daily-spending-wallet/daily-spending-header-mobile.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-header-mobile@2x.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-header.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-header@2x.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-preview.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype-mobile.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype-mobile@2x.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype.jpg
  assets/images/guide/daily-spending-wallet/daily-spending-prototype@2x.jpg
  guide/daily-spending-wallet/landing-page.md
Labels: Documentation, Copy, Design, Daily spending wallet

#959 Refines savings and emergency examples on the personal finance page
  _compress_images_cache.yml
  assets/images/guide/designing-products/personal-finance/emergency-wallet-setup-mobile.jpg
  assets/images/guide/designing-products/personal-finance/emergency-wallet-setup-mobile@2x.jpg
  assets/images/guide/designing-products/personal-finance/emergency-wallet-setup.jpg
  assets/images/guide/designing-products/personal-finance/emergency-wallet-setup@2x.jpg
  assets/images/guide/designing-products/personal-finance/glacier-protocol-wallet-setup-mobile.jpg
  assets/images/guide/designing-products/personal-finance/glacier-protocol-wallet-setup-mobile@2x.jpg
  assets/images/guide/designing-products/personal-finance/glacier-protocol-wallet-setup.jpg
  assets/images/guide/designing-products/personal-finance/glacier-protocol-wallet-setup@2x.jpg
  assets/images/guide/designing-products/personal-finance/savings-wallet-setup-mobile.jpg
  assets/images/guide/designing-products/personal-finance/savings-wallet-setup-mobile@2x.jpg
  assets/images/guide/designing-products/personal-finance/savings-wallet-setup.jpg
  assets/images/guide/designing-products/personal-finance/savings-wallet-setup@2x.jpg
  guide/designing-products/personal-finance.md
Labels: Copy, Design, Design bitcoin products

#961 Updated first use header image
  assets/images/guide/daily-spending-wallet/first-use/first-use-mobile.png
  assets/images/guide/daily-spending-wallet/first-use/first-use-mobile@2x.png
  assets/images/guide/daily-spending-wallet/first-use/first-use-preview.png
  assets/images/guide/daily-spending-wallet/first-use/first-use.png
  assets/images/guide/daily-spending-wallet/first-use/first-use@2x.png
  guide/daily-spending-wallet/first-use.md
Labels: Design, Daily spending wallet

#960 Added descriptor QR to print template
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-detail-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-detail.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-detail@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print-full.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/manual-backup/manual-backup-print@2x.png
  guide/daily-spending-wallet/backup-and-recovery/manual-backup.md
Labels: Daily spending wallet

#963 Link to descriptor in glossary
  guide/daily-spending-wallet/backup-and-recovery/manual-backup.md
Labels: Copy, Daily spending wallet

#962 Updated auto cloud backup header image
  _compress_images_cache.yml
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-mobile.jpg
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-mobile.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-mobile@2x.jpg
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-mobile@2x.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-preview.jpg
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud-preview.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud.jpg
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud.png
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud@2x.jpg
  assets/images/guide/daily-spending-wallet/backup-and-recovery/automatic-cloud-backup/backing-up-a-wallet-cloud@2x.png
  guide/daily-spending-wallet/backup-and-recovery/cloud-backup.md
  guide/daily-spending-wallet/backup-and-recovery/manual-backup.md
Labels: Design, Daily spending wallet

#956 Current adoption table is inconsistent
  guide/designing-products/units-and-symbols.md
Labels: Copy, Design bitcoin products

#966 Added Stratum V2 to collaborations
  _compress_images_cache.yml
  assets/images/contribute/stratum-v2.png
  projects.md
Labels: Documentation
