Repository BitcoinDesign/Guide, pull requests merged in 2023-02, with the labels that each got.

#979 Updating Savings Wallet with PIN explanation
  guide/savings-wallet.md
Labels: Copy, Savings wallet

#982 Add Nostr profile to the social media page
  .well-known/nostr.json
  social-media.md
Labels: Bug, Documentation

#985 Fixes mobile footer layout
  _sass/minima/_site-footer.scss
Labels: Bug, Design

#981 Addition of bitcoin User Personas
  _compress_images_cache.yml
  assets/images/guide/designing-products/user-personas/emma-journey-map.jpg
  assets/images/guide/designing-products/user-personas/emma-journey-map@2x.jpg
  assets/images/guide/designing-products/user-personas/hugo-journey-map.jpg
  assets/images/guide/designing-products/user-personas/hugo-journey-map@2x.jpg
  assets/images/guide/designing-products/user-personas/ilse-journey-map.jpg
  assets/images/guide/designing-products/user-personas/ilse-journey-map@2x.jpg
  assets/images/guide/designing-products/user-personas/musa-journey-map.jpg
  assets/images/guide/designing-products/user-personas/musa-journey-map@2x.jpg
  assets/images/guide/designing-products/user-personas/peter-journey-map.jpg
  assets/images/guide/designing-products/user-personas/peter-journey-map@2x.jpg
  assets/images/guide/designing-products/user-personas/user-personas-header-mobile.png
  assets/images/guide/designing-products/user-personas/user-personas-header-mobile@2x.png
  assets/images/guide/designing-products/user-personas/user-personas-header.png
  assets/images/guide/designing-products/user-personas/user-personas-header@2x.png
  assets/images/guide/designing-products/user-personas/user-personas-preview.png
  guide/designing-products/accessibility.md
  guide/designing-products/common-user-flows.md
  guide/designing-products/getting-to-know-your-users.md
  guide/designing-products/interoperability.md
  guide/designing-products/units-and-symbols.md
  guide/designing-products/usage-life-cycle.md
  guide/designing-products/user-personas.md
Labels: Copy, Design, Design bitcoin products
